__pycache__/
.vscode/
log/
*.spec
*.pyc
build/
dist/
*.pkg
tool/hrs/sym/
rep/
esp/
temp/
temp.html
idx/
*.log
drifts/
*.autosave
url
ext/
venv/
guivenv/
guivenv2/
.env
conf/db.conf
conf/dbtest.conf
tmp.html
demo/
nohup.out
startapp.sh
nohup*
baidu*
README.pdf
nodes.conf
*-nodes.conf
services.conf
*-services.conf
servicemapping.conf
*-servicemapping.conf
temp.txt
download/
packages/
*.log
*.log.*
metainfo.yml
user-conf.yml